In [1]:
library(terra)
library(geodata)
library(dplyr)
library(tidyr)
library(eurostat)
library(sf)

terra 1.7.78


Attaching package: ‘dplyr’


The following objects are masked from ‘package:terra’:

    intersect, union


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union



Attaching package: ‘tidyr’


The following object is masked from ‘package:terra’:

    extract


Linking to GEOS 3.10.2, GDAL 3.4.1, PROJ 8.2.1; sf_use_s2() is TRUE

In [2]:
# Import the data from meta
path_data_fb <- "../../data/task_44/meta/gadm1_nuts3_counties-gadm1_nuts3_counties - FB Social Connectedness Index - October 2021.tsv"
# df <- read.table(file = path_data_fb, sep = "\t", header = TRUE)

In [3]:
# tail(df)

In [4]:
# Import the table with the levels of the counties
regions <- read.table(file = "../../data/task_44/meta/gadm1_nuts3_counties_levels.csv", sep = ',', header = TRUE)
regions <- regions |> rename(nodeCode = key)

tail(regions)

     nodeCode  level
8003 LKA24_318 gadm2
8004 LKA24_319 gadm2
8005 LKA25_320 gadm2
8006 LKA25_321 gadm2
8007 LKA25_322 gadm2
8008 LKA25_323 gadm2

In [5]:
get_nuts3_country <- function(nuts3_code, nuts3_shapefile){
  nuts3_region <- nuts3_shapefile[nuts3_shapefile$id == nuts3_code, ]
  country <- countrycode::countrycode(nuts3_region$CNTR_CODE, origin = "eurostat", destination = "iso3c")
  return(country)
}

In [6]:
# Attach the country to the levels table
regions$country_ISO3 <- sub("^([A-Z]+).*", "\\1", regions$nodeCode)

# Overwrite nuts3 countries with ISO 3 codes
nuts3_shapefile <- eurostat::get_eurostat_geospatial(nuts_level = 3, year = 2016, output_class = "sf")
nuts3_keys <- regions[regions$level == "nuts3", ]$nodeCode
nuts3_countries <- sapply(nuts3_keys, get_nuts3_country, nuts3_shapefile = nuts3_shapefile)
regions[regions$level == "nuts3", ]$country_ISO3 <- nuts3_countries

tail(regions)

Extracting data from eurostat::eurostat_geodata_60_2016

     nodeCode  level country_ISO3
8003 LKA24_318 gadm2 LKA
8004 LKA24_319 gadm2 LKA
8005 LKA25_320 gadm2 LKA
8006 LKA25_321 gadm2 LKA
8007 LKA25_322 gadm2 LKA
8008 LKA25_323 gadm2 LKA

In [7]:
regions[regions$level == "gadm1", ]

     nodeCode level country_ISO3
49   DZA1     gadm1 DZA
50   DZA2     gadm1 DZA
51   DZA3     gadm1 DZA
52   DZA4     gadm1 DZA
53   DZA5     gadm1 DZA
54   DZA6     gadm1 DZA
55   DZA7     gadm1 DZA
56   DZA8     gadm1 DZA
57   DZA9     gadm1 DZA
58   DZA10    gadm1 DZA
59   DZA11    gadm1 DZA
60   DZA12    gadm1 DZA
61   DZA13    gadm1 DZA
62   DZA14    gadm1 DZA
63   DZA15    gadm1 DZA
64   DZA16    gadm1 DZA
65   DZA17    gadm1 DZA
66   DZA18    gadm1 DZA
67   DZA19    gadm1 DZA
68   DZA20    gadm1 DZA
69   DZA21    gadm1 DZA
70   DZA22    gadm1 DZA
71   DZA23    gadm1 DZA
72   DZA24    gadm1 DZA
73   DZA25    gadm1 DZA
74   DZA26    gadm1 DZA
75   DZA27    gadm1 DZA
76   DZA28    gadm1 DZA
77   DZA29    gadm1 DZA
78   DZA30    gadm1 DZA
⋮    ⋮        ⋮     ⋮
1858 VNM54    gadm1 VNM
1859 VNM55    gadm1 VNM
1860 VNM56    gadm1 VNM
1861 VNM57    gadm1 VNM
1862 VNM58    gadm1 VNM
1863 VNM59    gadm1 VNM
1864 VNM60    gadm1 VNM
1865 VNM61    gadm1 VNM
1866 VNM62    gadm1 VNM
1867 VNM63    gadm1 VNM
1868 ZMB1     gadm1 ZMB
1869 ZMB2     gadm1 ZMB
1870 ZMB3     gadm1 ZMB
1871 ZMB4     gadm1 ZMB
1872 ZMB5     gadm1 ZMB
1873 ZMB6     gadm1 ZMB
1874 ZMB7     gadm1 ZMB
1875 ZMB8     gadm1 ZMB
1876 ZMB9     gadm1 ZMB
1877 ZMB10    gadm1 ZMB
1878 ZWE1     gadm1 ZWE
1879 ZWE2     gadm1 ZWE
1880 ZWE3     gadm1 ZWE
1881 ZWE4     gadm1 ZWE
1882 ZWE5     gadm1 ZWE
1883 ZWE6     gadm1 ZWE
1884 ZWE7     gadm1 ZWE
1885 ZWE8     gadm1 ZWE
1886 ZWE9     gadm1 ZWE
1887 ZWE10    gadm1 ZWE

In [8]:
# Get the GADM1 data
gadm1_regions <- regions[regions$level == "gadm1", ]
gadm1_keys <- unique(gadm1_regions$country_ISO3)
gadm1_data <- gadm(gadm1_keys, level = 1, path = "../../data/task_44/", version="3.6")
gadm1_data$nodeCode <- gsub("\\.", "", sub("_1$", "", gadm1_data$GID_1))
gadm1_data <- gadm1_data[match(gadm1_regions$nodeCode, gadm1_data$nodeCode), ]

gadm1_data <- gadm1_data[, (names(gadm1_data) %in% c("nodeCode", "NAME_1"))]

centroids <- terra::centroids(gadm1_data)
coords <- terra::crds(centroids)
gadm1_data$longitude <- coords[, 1]
gadm1_data$latitude <- coords[, 2]

rm(centroids, coords, gadm1_regions, gadm1_keys)

In [9]:
# Merge the data
gadm1_data <- as.data.frame(gadm1_data)
regions <- regions |> 
  left_join(gadm1_data, by = c("nodeCode" = "nodeCode")) |>
  rename(nodeLabel = NAME_1)

rm(gadm1_data)

In [10]:
# Get the GADM2 data
gadm2_regions <- regions[regions$level == "gadm2", ]
gadm2_keys <- unique(gadm2_regions$country_ISO3)
gadm2_data <- gadm(gadm2_keys, level = 2, path = "../../data/task_44/", version="3.6")
gadm2_data$nodeCode <- gsub("(\\w+)\\.(\\d+)\\.(\\d+)_1$", "\\1\\2_\\3", gadm2_data$GID_2)

gadm2_data <- gadm2_data[, (names(gadm2_data) %in% c("nodeCode", "NAME_2"))]

centroids <- terra::centroids(gadm2_data)
coords <- terra::crds(centroids)
gadm2_data$longitude <- coords[, 1]
gadm2_data$latitude <- coords[, 2]

rm(centroids, coords, gadm2_regions, gadm2_keys)

In [11]:
# Convert the data to a data frame
gadm2_data <- as.data.frame(gadm2_data) |> rename(nodeLabel = NAME_2)

# Change the nodeCode to the format of the GADM2 data
gadm2_data <- gadm2_data |>
  separate(nodeCode, into = c("prefix", "n2"), sep = c("_"), remove = TRUE) |>
  separate(prefix, into = c("prefix", "n1"), sep = c("(?<=^[A-Z]{3})"), remove = TRUE) |>
  group_by(prefix) |>
  mutate(sequential_number = row_number()) |>
  ungroup() |>
  mutate(nodeCode = paste0(prefix, n1, "_", sequential_number)) |>
  select(c("nodeCode", "nodeLabel", "longitude", "latitude"))

In [12]:
# Merge the data
regions <- regions |> 
  left_join(gadm2_data, by = c("nodeCode" = "nodeCode"), suffix = c("_x", "_y")) |>
  mutate(nodeLabel = coalesce(nodeLabel_x, nodeLabel_y)) |>
  select(-nodeLabel_x, -nodeLabel_y) |>
  mutate(longitude = coalesce(longitude_x, longitude_y)) |>
  mutate(latitude = coalesce(latitude_x, latitude_y)) |>
  select(-longitude_x, -longitude_y, -latitude_x, -latitude_y)

rm(gadm2_data)

In [56]:
# Get the nuts3 data
nuts3_regions <- regions[regions$level == "nuts3", ]
nuts3_keys <- unique(nuts3_regions$nodeCode)
nuts3_shapefile <- eurostat::get_eurostat_geospatial(nuts_level = 3, year = 2016, output_class = "sf")
nuts3_data <- nuts3_shapefile[match(nuts3_keys, nuts3_shapefile$id), ]

centroids <- st_centroid(nuts3_data$geometry)
coords <- st_coordinates(centroids)
nuts3_data$longitude <- coords[, 1]
nuts3_data$latitude <- coords[, 2]

rm(centroids, coords, nuts3_regions, nuts3_keys)

Extracting data from eurostat::eurostat_geodata_60_2016

In [57]:
# Convert the data to a data frame
nuts3_data <- as.data.frame(nuts3_data) 

nuts3_data <- nuts3_data |>
  rename(nodeLabel = NAME_LATN) |>
  rename(nodeCode = id) |>
  select(c("nodeCode", "nodeLabel", "longitude", "latitude"))

In [58]:
nuts3_data

     nodeCode nodeLabel
818  HR043    Krapinsko-zagorska županija
36   AT314    Steyr-Kirchdorf
37   AT315    Traunviertel
322  DE600    Hamburg
323  DE711    Darmstadt, Kreisfreie Stadt
324  DE712    Frankfurt am Main, Kreisfreie Stadt
325  DE713    Offenbach am Main, Kreisfreie Stadt
326  DE714    Wiesbaden, Kreisfreie Stadt
327  DE715    Bergstraße
91   BE353    Arr. Philippeville
92   BG311    Vidin
93   BG312    Montana
348  DE737    Werra-Meißner-Kreis
349  DE803    Rostock, Kreisfreie Stadt
350  DE804    Schwerin, Kreisfreie Stadt
353  DE80L    Vorpommern-Rügen
368  DE923    Hameln-Pyrmont
398  DE94E    Osnabrück, Landkreis
399  DE94F    Vechta
400  DE94G    Wesermarsch
451  DEA59    Olpe
452  DEA5A    Siegen-Wittgenstein
453  DEA5B    Soest
454  DEA5C    Unna
455  DEB11    Koblenz, Kreisfreie Stadt
94   BG313    Vratsa
38   AT321    Lungau
39   AT322    Pinzgau-Pongau
40   AT323    Salzburg und Umgebung
369  DE925    Hildesheim
⋮    ⋮        ⋮
1436 UKI61    Bromley
1437 UKI62    Croydon
1458 UKJ36    Central Hampshire
1459 UKJ37    North Hampshire
1493 UKM64    Na h-Eileanan Siar (Western Isles)
1460 UKJ41    Medway
1501 UKM77    Perth & Kinross and Stirling
1503 UKM81    East Dunbartonshire, West Dunbartonshire and Helensburgh & Lomond
1473 UKK30    Cornwall and Isles of Scilly
1520 UKN14    Lisburn and Castlereagh
1521 UKN15    Mid and East Antrim
1404 UKG37    Sandwell
1405 UKG38    Walsall
1406 UKG39    Wolverhampton
1407 UKH11    Peterborough
1408 UKH12    Cambridgeshire CC
1413 UKH21    Luton
1438 UKI63    Merton, Kingston upon Thames and Sutton
1439 UKI71    Barnet
1440 UKI72    Brent
1441 UKI73    Ealing
1442 UKI74    Harrow and Hillingdon
1443 UKI75    Hounslow and Richmond upon Thames
1461 UKJ43    Kent Thames Gateway
1514 UKN08    Newry, Mourne and Down
1522 UKN16    Fermanagh and Omagh
1462 UKJ44    East Kent
1463 UKJ45    Mid Kent
1481 UKL15    Central Valleys
1476 UKK43    Devon CC
     longitude   latitude
818  15.920217   46.07827
36   14.324103   47.85302
37   13.690190   47.82881
322   9.506859   53.67060
323   8.680591   49.90291
324   8.660673   50.11875
325   8.780571   50.09518
326   8.257287   50.07088
327   8.665372   49.61520
91    4.568933   50.16439
92   22.718343   43.82168
93   23.198532   43.49093
348   9.919935   51.18971
349  12.141323   54.16402
350  11.385165   53.64353
353  12.965899   54.28180
368   9.423359   52.07860
398   8.038797   52.36854
399   8.234302   52.67509
400   8.388383   53.30059
451   7.941991   51.07969
452   8.191010   50.92228
453   8.172423   51.58057
454   7.639064   51.56265
455   7.618426   50.35545
94   23.792353   43.42737
38   13.651477   47.12916
39   12.895495   47.31397
40   13.213756   47.75207
369   9.939323   52.08227
⋮    ⋮           ⋮
1436  0.03552773 51.38237
1437 -0.08741164 51.36302
1458 -1.35900227 51.03409
1459 -1.07567232 51.27929
1493 -7.12563536 57.96847
1460  0.51888777 51.39921
1501 -3.95409919 56.48456
1503 -4.50061920 56.04478
1473 -4.78979878 50.44770
1520 -6.02835357 54.51080
1521 -6.17330179 54.88409
1404 -2.00215284 52.52084
1405 -1.97810761 52.57882
1406 -2.08695441 52.58063
1407 -0.26354758 52.60810
1408  0.03266813 52.34669
1413 -0.44620693 51.89956
1438 -0.22862986 51.37547
1439 -0.21275338 51.61485
1440 -0.26158088 51.55946
1441 -0.31808884 51.52220
1442 -0.40886531 51.55901
1443 -0.33515190 51.45809
1461  0.53366684 51.37775
1514 -6.06661039 54.24313
1522 -7.38469483 54.47773
1462  1.07366838 51.15855
1463  0.71407567 51.18302
1481 -3.41537178 51.65227
1476 -3.79755487 50.76063

In [62]:
# # Merge the data
regions_prova <- regions |> 
  left_join(nuts3_data, by = c("nodeCode" = "nodeCode"), suffix=c("_x", "_y"))
  # mutate(nodeLabel = coalesce(nodeLabel_x, nodeLabel_y)) |>
  # select(-nodeLabel_x, -nodeLabel_y) |>
  # mutate(longitude = coalesce(longitude_x, longitude_y)) |>
  # mutate(latitude = coalesce(latitude_x, latitude_y)) |>
  # select(-longitude_x, -longitude_y, -latitude_x, -latitude_y)

ERROR: Error in eval(expr, envir, enclos): object 'nodeLabel_x' not found